:root {
  --primary-color: rgb(3, 75, 3);
  --light-color: rgb(219, 255, 219);
  --dark-color: rgb(0, 41, 0);
  --body-background: rgb(194, 224, 194);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spartan", sans-serif;
  background: var(--body-background);
  color: var(--dark-color);
}

.scroll-wrap {
  background: var(--light-color);
  max-width: 1440px;
  margin: auto;
}

.container {
  margin: auto 3rem;
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
h2,
h3,
footer a {
  line-height: 2rem;
}

p {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.up {
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  background: var(--primary-color);
  color: var(--light-color);
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 0.5rem 0;
  transition: all 0.5s;
}

.btn:hover {
  background: var(--dark-color);
}

.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--dark-color);
  width: 50px;
  z-index: 5000;
  visibility: hidden;
  transition: opacity 0.5s;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

/* HEADER - LOGO AND OUT */

header {
  background: var(--light-color);
}

header .container {
  display: grid;
  grid-template-columns: 25% auto 15%;
  grid-template-rows: 4rem;
  align-content: center;
  padding: 1rem 0;
  height: 7rem;
}

.out {
  grid-column: 3 / span 1;
  display: grid;
  align-content: center;
}

.logo {
  align-self: center;
  font-size: 2rem;
}

.logo a:hover {
  text-decoration: none;
}

header a {
  color: var(--dark-color);
  display: block;
  /*  padding: 1rem;
  height: 3rem; */
}

/* NAVBAR */

nav {
  background: var(--primary-color);
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .container {
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav a {
  color: var(--light-color);
  font-size: 0.9rem;
  display: block;
  border: 3px solid transparent;
  padding: 1rem;
  height: 3rem;
  text-align: center;
  transition: border-bottom 0.5s;
}

nav a:hover {
  border-bottom: 2px solid var(--light-color);
  text-decoration: none;
}

.search {
  grid-column: 8 / span 1;
}

/* DROPDOWN */

.dropdown ul {
  display: none;
}

.dropdown {
  position: relative;
  transition: all 2s ease; /*  doesnt work on display: property?  */
}

.dropdown:hover ul {
  display: block;
  position: absolute;
  left: 0;
  top: 3rem;
  width: 135px;
  z-index: 1000;
  border-radius: 3px;
}

.dropdown:hover ul a {
  background: var(--light-color);
  color: var(--dark-color);
  display: block;
  transition: all 0.5s;
}

.dropdown:hover ul a:hover {
  background: var(--body-background);
}

.mobile-menu {
  display: none;
}

/* HERO BANNER */

#hero {
  height: 80vh;
  width: 100%;
  background: var(--primary-color);
  position: relative;

  /* height, overflow x and y, perspective needed for parallax effect */
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

/* #hero::before {
  content: "";
  background: url("https://source.unsplash.com/jwTvCQQJXh0/1920x1080") no-repeat
    center center/cover;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
} */

#hero .container {
  color: var(--light-color);
  padding: 0;
  display: grid;
  height: 80vh;
  justify-items: center;
  align-items: center;
  z-index: 100;
  position: relative;

  /* position:rel, height needed for parallax effect */
  height: 80vh;
}

#hero .container::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
    * then scale it back up to fill the viewport.
    * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;

  background: url("https://source.unsplash.com/jwTvCQQJXh0/1920x1080") no-repeat
    center center/cover;
}

.hero-grid {
  display: grid;
  grid-template-columns: 30vw;
  grid-template-rows: 100px 200px;
  text-align: center;
  text-shadow: 2px 2px 1px var(--dark-color);
}

.hero-grid h1 {
  line-height: 3rem;
}

.hero-grid h3 {
  display: grid;
  align-content: flex-end;
}

/* EXPLORE THE WOODS & MEET THE INHABITANTS */

.categories h2,
.woods-grid {
  padding: 2rem 0;
}

.woods-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1rem;
}

.woods-grid div {
  display: grid;
  align-content: flex-end;
  padding: 1rem;
  height: 100%;
  color: var(--light-color);
  text-shadow: 2px 2px 1px var(--dark-color);
  border-radius: 3px;
}

.woods-grid a {
  font-size: 1.25rem;
  text-decoration: transparent;
  transition: all 1s;
}

.woods-grid a:hover {
  box-shadow: inset 70px -100px 90px rgba(0, 0, 0, 0.596);
  text-decoration: underline var(--light-color);
}

#woods .woods-grid a:first-child {
  background: url("https://source.unsplash.com/4rDCa5hBlCs/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(2) {
  background: url("https://source.unsplash.com/sp-p7uuT0tw/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(3) {
  background: url("https://source.unsplash.com/qLW70Aoo8BE/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(4) {
  background: url("https://source.unsplash.com/jFCViYFYcus/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(5) {
  background: url("https://source.unsplash.com/sMQiL_2v4vs/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(6) {
  background: url("https://source.unsplash.com/KT3WlrL_bsg/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(7) {
  background: url("https://source.unsplash.com/7ne3hNnojvU/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(8) {
  background: url("https://source.unsplash.com/-heLWtuAN3c/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(9) {
  background: url("https://source.unsplash.com/BW9bM5UoLk4/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(10) {
  background: url("https://source.unsplash.com/7zg5bnhm2X0/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:nth-child(11) {
  background: url("https://source.unsplash.com/PdPKIkd1L9g/1920x1080") no-repeat
    center center/cover;
}

#woods .woods-grid a:last-child {
  background: url("https://source.unsplash.com/IrGYJPF0JS0/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:first-child {
  background: url("https://source.unsplash.com/BTzQWyRK474/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(2) {
  background: url("https://source.unsplash.com/aRXPJnXQ9lU/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(3) {
  background: url("https://source.unsplash.com/zWA7Obpb4R4/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(4) {
  background: url("https://source.unsplash.com/mKfgOMYTttU/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(5) {
  background: url("https://source.unsplash.com/FmUmQJq-BKo/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(6) {
  background: url("https://source.unsplash.com/15BKEU23L74/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(7) {
  background: url("https://source.unsplash.com/EYbuaPyfkIY/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(8) {
  background: url("https://source.unsplash.com/IvdPKHos5wA/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(9) {
  background: url("https://source.unsplash.com/60UQhQi61mM/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:nth-child(10) {
  background: url("https://source.unsplash.com/MVIqwQvkwG4/1920x1080") no-repeat
    center center/cover;
}

#personas .woods-grid a:last-child {
  background: url("https://source.unsplash.com/lTebCR71_7A/1920x1080") no-repeat
    center center/cover;
}

/* FOOTER */

footer {
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 0.85rem;
}

footer a {
  color: var(--light-color);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(3, 5fr);
  grid-column-gap: 4rem;
  grid-row-gap: 1.5rem;
}

.forestryFi,
.jungleFi,
.infoWoodland {
  grid-column: 2;
}

.contact-terms {
  grid-column: 4;
  grid-row: 2;
}

/* MOBILE */

/*  tablets horizontal  */
/*  grid columns 3, normal menu  */
@media only screen and (max-width: 990px) {
  .woods-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
  }

  .hero-grid {
    grid-template-columns: 40vw;
  }

  footer .container {
    grid-column-gap: 1rem;
  }
}

/*  tablets vertical and phones horizontal  */
/*  grid columns 3, mobile menu  */
/* no back to top btn */
/* flex footer */
@media only screen and (max-width: 768px) {
  .top-btn {
    visibility: hidden !important;
  }

  header {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  nav {
    height: 4rem;
  }

  .mobile-menu {
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu a {
    font-size: 2rem;
    height: 4rem;
  }

  .mobile-menu i {
    padding: 1rem;
  }

  .fa-bars {
    font-size: 2rem;
  }

  /* side menu to be shown after clicking the menu icon */

  .side-menu {
    display: grid;
    z-index: 5000;
    position: absolute;
    top: 4rem;
    left: 0;
    background: var(--primary-color);
    border-radius: 2px;
  }

  /* footer flex */
  footer .container {
    display: flex;
    flex-direction: column;
  }

  footer .container div {
    margin-bottom: 1rem;
  }
}

/*  phones vertical  */
/*  grid columns 2, mobile menu  */
/* no back to top btn */
/* flex footer */
/* 676px, cause the grid cells don't want to go narrower */
@media only screen and (max-width: 676px) {
  .hero-grid {
    grid-template-columns: 60vw;
  }

  .woods-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 150px);
  }
}

@media only screen and (max-width: 430px) {
  .hero-grid h1 {
    font-size: 1.5rem;
  }

  .hero-grid h3 {
    font-size: 1rem;
  }
}

/* EXTRAS TO DO:
different speed of scroll of picture and text in hero
search - on click - pop up text input
clean up CSS, refactor/optimize the code */
